root = true

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,fs,fsx,fsi}]
indent_style = space
indent_size = 4

[*.cs]
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = one_less
csharp_using_directive_placement = outside_namespace:warning
csharp_prefer_braces = true:warning

dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_property = true:warning
dotnet_style_qualification_for_method = true:warning
dotnet_style_qualification_for_event = true:warning
dotnet_style_require_accessibility_modifiers = always:suggestion

dotnet_diagnostic.IDE0005.severity = warning
dotnet_diagnostic.IDE0009.severity = warning
dotnet_diagnostic.IDE0011.severity = warning
dotnet_diagnostic.IDE0040.severity = suggestion
dotnet_diagnostic.IDE0055.severity = warning
dotnet_diagnostic.IDE0065.severity = warning

[*.fs]
indent_style = space
indent_size = 4

[*.{csproj,props,targets,xml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
